[Unit]
Description=pandora sevice
After=network.target

[Service]
Type=simple
ExecStart=/home/masa/pandora_start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
